@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

:root{
    --primary-color:#6b95dd;
    --dark-grey: #4B5563;
    --off-white:#D1D5DB;
    --secondary-color:#0000ff;
}
@media (min-width: 640px) { body {font-size:1rem;} } 
@media (min-width:960px) { body {font-size:1.1rem;} } 
@media (min-width:1100px) { body {font-size:1.1rem;} }
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    text-align: center;
}
.margin-md{
    margin:2rem;
}
.container{
    padding: 0rem 1rem;
}
hr{
    margin: 2rem 0rem;
}
.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin-bottom: 0;
}
.primary-link {
    background-color: var(--secondary-color);
    border-radius: 0.5rem;
    color:var(--off-white);
    margin: 1rem 1rem;
}
.primary-link:hover{
    background-color: var(--off-white);
    color: black;
    border: 1px solid  var(--secondary-color);
}
.secondary-link {
    color:black;
    border-radius: 0.5rem;
    border: 1px solid  var(--secondary-color);
    margin: 1rem 1rem;
}
.secondary-link:hover{
    background-color:  var(--secondary-color);
    color:white;
}
.list-non-bullet{
    padding: 0;
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0 0.5rem;
    
}
/* navbar styling */
.navigation {
    background-color:var(--primary-color);
    color: white;
    padding: 0.5rem;
    border-bottom-left-radius: 2rem;
    position: sticky;
    top: 0;
}
.navigation .link {
    color: white;
}
.navigation .nav-pills {
    text-align: right;  
}
.navigation .link-active {
    font-weight: bold;
    color: black;
}
.hero {
    padding: 2rem;
    padding-top: 5rem;
}
img { max-width: 100%; height: auto; }
.hero .hero-img {
    width: 100%;
    max-width: 400px;
    display: block;
    margin: auto;
}
.hero .hero-heading {
    padding-top: 1rem;
    color: var(--dark-grey);
    text-align: center;
}
.hero .hero-heading .heading-inverted {
    color: var(--secondary-color);
}
.section{
    padding: 2rem;
}
.heading-inverted {
    color: var(--secondary-color);
}
.section h1 {
    text-align: center;
    color: var(--secondary-color);
}
h1{
    color: var(--secondary-color);
}
.ow { 
    background-color: var(--off-white);
    margin: 20px;
}
.btn_conatiner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.footer{
    background-color: var(--primary-color);
    padding: 2rem;
    border-bottom-left-radius: 1rem;
}
.footer ul{
    padding-inline-start: 0;
}
.footer .footer-header{
    font-size: larger;
}
.footer img{
    display: inline;
    width: 40px;
    padding: 1rem 0.2rem;
    margin: 0.25rem;
}