body{
  background-color: rgb(169, 155, 182);  
}

hr{
    
    border-style: none;
    width: 3%;
    border-top-style: dotted;
    border-color: grey;
   border-width: 5px;
}

h1{
  color: blue;
}

h3{
  color: brown;
}4

table{
  background-color:lightgrey;
}

img{
  border-radius:90% ;
}